body{
    font-family: hlo;
}
header{
    padding: 5px;
    background-color: brown;
}
main{
    padding: 5px;
    background-color: #ff2e2e;
}
footer{
    padding: 5px;
    background-color: brown;
}
*{
    margin: 0;
}
img{
    width: 400px;
}
p{
    color: yellow;
}